backports.shutil-get-terminal-size==1.0.0
cffi==1.9.1
conda==4.3.11
cryptography==1.7.1
cycler==0.10.0
decorator==4.1.2
enum34==1.1.6
functools32==3.2.3.post2
graphviz==0.8.1
idna==2.2
ipaddress==1.0.18
ipython==5.5.0
ipython-genutils==0.2.0
matplotlib==2.0.2
numpy==1.13.1
olefile==0.44
pandas==0.21.0
pathlib2==2.3.0
patsy==0.4.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==8.1.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.17
pydot==1.2.3
pydotplus==2.0.2
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests>=2.20.0
scandir==1.6
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
statsmodels==0.8.0
subprocess32==3.2.7
traitlets==4.3.2
wcwidth==0.1.7
xlrd==1.1.0
